body {
    background-image    : url(../images/loading-logo.png);
    background-repeat   : no-repeat;
    background-position : center 25%;
}

.leftnav, .rightnav {
    background-color    : #888;
    background-position : center center;
    background-repeat   : no-repeat;
}

.leftnav {
    background-image : url(../icons/arrow-left.png);
    border-right     : 1px solid #777;
}

.rightnav {
    background-image : url(../icons/arrow-right.png);
    border-left      : 1px solid #777;
}

.disabled {
    background-image : none;
    background-color : #aaa;
}

.tbarslider .x-component-outer {
    padding    : 0;
    margin-top : -0.3em;
}

.feed-title {
    font-weight : bold;
    padding     : 8px;
}

.feed-body {
    padding : 8px;
}

.feed-img {
    padding : 8px;
}

.feeder .mc-animateshow .feed-img {
    -webkit-transition : -webkit-transform 0.5s ease-out;
}

.feeder .mc-opacity1 .feed-img {
    -webkit-transform : scale(1);
}

.feeder .mc-opacity0 .feed-img {
    -webkit-transform : scale(0.9);
}

.feeder .mc-columncarousel .x-container {
    -webkit-box-shadow : 8px 0px 10px -10px #444;
}

@-webkit-keyframes maskText{
    0% {
        -webkit-transform : rotateY(90deg)
    }
    100% {
        -webkit-transform : rotateY(0deg)
    }
}

.loadingmask .x-mask-inner {
    background  : none;
    font-weight : normal;
    font-size   : 1em;
    padding-top : 100px;
}

.loadingmask .x-mask-message {
    -webkit-animation-name     : maskText;
    -webkit-animation-duration : 0.2s;
}

.loadingmask {
    background : none;
}